
<h5>Pocket Plants was created as Victoria Vasys' Mod 4 (of 4) Capstone project for the Turing School of Software & Design</h5>

<h6>Thanks for the cool icon *i cons* from Noun Project! (The icon color was changed for this project.)</h6>